/* Fonts
----------------------------------------------------------------------------------------------------
font-family: 'Raleway', sans-serif;
font-family: 'Arima Madurai', cursive;
*/

/*Colors Library
----------------------------------------------------------------------------------------------------
Purple: #6d2161
Blue: #0e3f64
Green: #276405
Gray: #303030

*/

/*Page-wide container style
----------------------------------------------------------------*/
* {
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
}
#nts {
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
}
#nts .row {
    margin-right: 0;
	margin-left:0;
	}
#nts .wrap {
		margin:0 5%;
}
/*Headings*/
#nts h2 {
	color:#276405;
	font-family:'Delius', cursive;
}
/*Menu
--------------------------------*/
/*Sticky header*/
#nts .row.header {
    position: fixed;
    width: 100%;
	background:white;
}
.site-inner {
    margin-top: 102px;
}
/*Logo*/
#nts .col-md-3.logo {
	padding:0 0;
}
.logo img {
    float: left;
    margin-right: 10px;
}
h1#logo_title {
    font-size: 25px;
    margin-top: 10px;
    float: left;
    max-width: 150px;
    color: #6d2161;
    display: inline;
}
#nts .header .list-inline>li {
	display:block;
	color:#276405;
}
#nts .list-inline>li i {
	color:#276405;
}
#nts .nav {
	padding:6px 10px 0px 0px;
	    float: right;
}
#nts .nav>li#buy>a {
	border-radius:0;
}
#nts .nav li ul {
	transition:fade-in-out all .2s;
}
#nts .header .nav>li>a:hover {
	background:white;
	padding: 10px 15px 9px 15px;
}
#nts .nav li ul:hover {
	background:white;
	border-bottom:#276405 solid 1px;
}
#nts .header li#buy {
	background:#276405;
	color:white;
}
#nts .header li#buy i {
	color:white;
}
#buy span {
	color:white;
}
#nts .header .nav>li#buy>a:hover {
	padding:8px 13px;
	border:solid 2px rgb(39,100,5);
}
#nts .header .nav>li#buy>a:hover span, #nts .header .nav>li#buy>a:hover i {
	color:#276405;
}
#nts .nav li#buy ul:hover {
	border-bottom:none;
}
/*Balance bar*/
#nts #balance-banner {
	background:#0e3f64;
}
#nts #balance-banner span {
	color: white;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 8px 0;
}
/*Color bar
---------------------------------*/
.color-bar {
    clear: both;
}
.color-block {
    display: block;
    float: left;
    height: 10px;
    width: 20%;
    background: #6d2161;
}

#color-block-3 {
	background:#0e3f64;
}
#color-block-1, #color-block-2 {
	background:#276405;
}
/*Page header
----------------------------------*/
#nts h1#page_header {
    background: url(images/bkgd.jpg) repeat;
    padding: 1.2em;
    margin:-30px 0 auto;
    text-align: center;
    font-family: 'Delius', cursive;
    color: #0e3f64;
	font-weight:600;
}
/*Profile columns
--------------------------------*/
#profile_info {
	margin-top:50px;
	color:#6d2161;
}
#profile_info h3 {
	font-family:'Delius', cursive;
	color:#6d2161;
}
#profile_info  ul {
	min-height: 140px;
    padding-left: 5px;
    border-left: dashed 2px;
}
#nts #profile_info img {
    border: solid 2px #0e3f64;
    border-radius: 200px;
    padding: 2px;
	text-align:center;
}
#profile_info ul li em {
	font-style:normal;
	font-weight:bold;
	font-family:'Delius', cursive;
}
#nts button {
	padding: 8px 13px 4px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Delius', cursive;
    text-transform: uppercase;
	text-align:center;
	transition: all ease-in-out .1s;
}
#nts button.green {
	background: #276405;
	border:solid 2px #276405;
}
#nts button a {
	color:white;
	text-decoration:none;
}
#nts button i {
    padding-left: 10px;
}
#profile_info .gutter {
	max-width:240px;
	margin:0 auto;
}
#nts #points {
    border: solid 3px #0e3f64;
    text-align: center;
    padding-bottom: 25px;
    max-width: 240px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    color: #0e3f64;
}
#points h3 {
    color: #0e3f64;
    padding: 15px;
    margin: 0 18px 15px;
    border-bottom: dashed #0e3f64 2px;
}
#nts #points p em {
	font-style: normal;
    font-family: 'Delius', cursive;
    font-weight: bold;
    font-size: 30px;
    text-shadow: #303030 0px 0px 10px;
    padding: 0 5px;
}
#nts #points button, #nts .btn.btn-blue {
	background:#0e3f64;
	border:solid 2px #0e3f64;
	color:white;
	border-radius:0;
}
#nts #points button:hover, #nts .btn.btn-blue:hover {
	background:white;
	color:#0e3f64;
}
#nts #points button:hover  a, #nts #points button:hover  i {
	color:#0e3f64;
}
#nts button.green:hover {
	background:white;
	border:solid 2px #276405;
	color:#276405;
}
#nts button.green:hover  a, #nts button.green:hover  i {
	color:#276405;
}
#nts button a:hover {
	text-decoration:none;
}
/*Balance main*/
#nts .panel-default>.panel-heading, #nts .collapse-panel.panel.panel-default {
	background:none;
	border:none;
}
#balance_main {
    background: #0e3f64;
    margin:50px 0;
	padding:20px 0 15px 0;
    text-align: center;
}
#nts #balance_main h2 {
	color:white;
	display:inline;
}
#nts #balance_main .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
    padding: 0 45px 0 15px;
    font-weight: normal;
    font-size: 20px;
    color: inherit;
}
#nts #balance_main .text-success {
    color: white;
    display: inline;
}
#nts button.white-b {
	background:white;
	border:2px solid white;
}
#nts button.white-b a, button.white-b i {
	color:#0e3f64;
}
#nts button.white-b:hover {
	background:#0e3f64;
}
#nts button.white-b:hover a, button.white-b:hover i:before {
	color:white;
}
#nts #balance_main button {
	margin-left:10px;
}
.balance-b {
	display:inline;
}
		
/*Appointments*/
#nts .panel #new_app .panel-body {
	border:dashed 2px #276405;
	padding: 35px;
}
#nts .hc_cal {
    margin: 0 auto;
	max-width:300px;
}
#nts .app_pick em {
	font-style:normal;
	font-family:'Delius', cursive;
	color:#0e3f64;
	font-size:18px;
	font-weight:bold;
	margin-right:10px;
}
#nts .hc_cal .row .today .btn-default, #nts .btn-success-o {
	border-color:#0e3f64;
}
#nts .btn-success, #nts .btn-success-o:hover, #nts .btn-success-o:focus, #nts .btn-success-o:active, #nts .btn-success-o.active, #nts .open .dropdown-toggle.btn-success-o {
	background-color:#0e3f64;
	border-color:#0e3f64;
}
#nts .btn-success:hover {
	background:#276405;
	border-color:#276405;
}
#nts .label-success-o, #nts .btn-success-o {
	color:#0e3f64;
}
#nts #c_header .btn-default {
	border:none;
	font-weight:bold;
}
#nts #c_header .btn-default:hover {
	background:none;
}
#nts .form-control:focus {
	border-color:#0e3f64;
}
#nts .btn, #nts .dropdown-menu {
	border-radius:0;
}
#nts .btn-sm {
	border-radius:100px;
}	
/*Tabs*/
.color-bar.margin {
	margin-top:50px;
}
#nts .nav#three-tabs {
	padding: 6px 0 0;
    margin-bottom: 0;
	float: none;
}
#three-tabs li {
	width:40%;
	text-align:center;
	background:rgb(39,100,5);
}
#three-tabs li#middle-tab {
	width:20%;
	background:rgb(14,63,100);
}
#three-tabs li:first-of-type {
	background:rgb(109,33,97);
	    border-left: 8px solid rgb(109,33,97);
}
#nts .nav-pills>li+li {
    margin-left: 0;
}
#nts .nav-pills#three-tabs>li a {
	color:white;
}
#nts .nav-pills>li.active>.nav-item, #nts .nav-pills>li.active>a, #nts .nav-pills>li.active>a:hover, #nts .nav-pills>li.active>a:focus {
    color:#276405;
    background:white;
	border-radius:0;
}
#nts .nav-pills>li>a:hover  {
background:none;
}
#nts .nav-pills#three-tabs>li.active a {
	color:#303030;
}
#nts .tab-content {
	margin: 0px 0 50px 0;
}
#nts .tab-content div .wrap {
    padding-top: 50px;
}
#my_app, #my_file, #my_rec {
    border: solid 8px;
    border-top: none;
}
#my_app {
	border-color: #6d2161;
}
#my_file {
	border-color: #0e3f64;
}
#my_rec {
	border-color: #276405;
}
ul#three-tabs li:last-of-type {
    border-right: 8px solid #276405;
}
.tab-pane {
    padding-bottom: 50px;
}
/*My files*/
#nts #my_file .col-md-3 .wrap {
	text-align: center;
	width:200px;
	height:200px;
	margin:0 auto;
	transition:all ease-in-out .3s;
	}
#nts #my_file .col-md-3 .wrap a {
		color:#0e3f64;
		text-decoration:none;
	}
#nts #my_file .col-md-3 .wrap a  h4 {
		color:#276405;
		text-decoration:none;
		font-family:'Delius', cursive;
	}
#nts #my_file .col-md-3 {
	margin-bottom:20px;
	
}
#nts #my_file .col-md-3 .wrap:hover {
	background:#e1e1e1;
	border-radius:200px;
}
#my_file .wrap a  i.fa-fw.fa.fa-file-text-o {
    font-size: 50px;
    margin: 0px 0 15px 0;
    color: white;
    background: #0e3f64;
    border-radius: 200px;
    padding: 15px 0;
}
#my_file p {
    min-height: 40px;
}
/*My Appointments*/
#my_app form {
    width: 340px;
    margin: 30px auto;
}
#my_app button#drp_autogen0 {
    border-radius: 0;
    border: #6d2161 solid 1px;
    background: white;
    font-family: 'raleway';
    font-weight: normal;
    text-align: left;
    color: #6d2161;
}
#my_app input[type="submit"] {
    background: #6d2161;
    line-height: 1.8;
    border: solid #6d2161 3px;
    padding: 1px 15px 2px 15px;
    color: white;
	transform:ease-in-out .2s all;
}
#my_app input[type="submit"]:hover {
    background:white;
    color: #6d2161;
}
#my_app .comiseo-daterangepicker.comiseo-daterangepicker-right.ui-widget.ui-widget-content.ui-corner-all.ui-front {
    border-radius: 0px;
    box-shadow: 0px 0px 15px #6d2161;
    border: solid 2px #6d2161;
}
.comiseo-daterangepicker-presets .ui-menu-item > * {
    text-decoration: none;
    display: block;
    padding: 3px 5px;
    text-align: center;
    background: #6d2161;
    color: white;
    border: solid 2px #6d2161;
    margin: 10px;
    line-height: 1.5;
    min-height: 0;
	transform:ease-in-out .2s all;
}
.comiseo-daterangepicker-presets .ui-menu-item > * :hover {
	background:white;
	color:#6d2161;
	    border: solid 2px #6d2161;
    margin: 10px;
	padding: 3px 5px;
}
.comiseo-daterangepicker {
    left: 20px !important;
}
.comiseo-daterangepicker-right .comiseo-daterangepicker-calendar {
    border-left: dashed 3px #6d2161;
}
.comiseo-daterangepicker-main.ui-widget-content {
    margin: 5px;
    border-bottom: none;
}
.ui-widget-header {
    border: none !important;
    background: #e1e1e1 !important;
    color: purple !important;
    margin: 0px 5px !important;
    font-weight: bold !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #f1f1f1;
    font-weight: normal;
    color: #303030;
}
.comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
    background: white;
    color:#6d2161;
    border-color: #6d2161;
}
.ui-state-highlight {
    border: 1px solid purple;
    background: purple;
    color: white;
}
.ui-helper-clearfix {
    background: #6d2161;
    padding: 10px 0px;
}
.comiseo-daterangepicker-right .comiseo-daterangepicker-buttonpanel {
    float: none !important;
    margin: 0 auto;
    width: 300px;
}
.comiseo-daterangepicker-right .comiseo-daterangepicker-buttonpanel > button {
    border: solid 2px white;
    border-radius: 0;
    padding: 5px 10px;
    color: purple;
    background: white;
    font-weight: normal;
    font-family: 'Raleway';
}
#nts #my_app .panel-title>a {
    color: #0e3f64;
    font-family: 'Delius', cursive;
    font-size: 20px;
    text-decoration: none;
    border: solid #0e3f64 2px;
    padding: 10px;
	transform:ease-in-out .2s all;
}
#nts #my_app .panel-title>a:hover {
    background: #0e3f64;
	color:white;
    border: solid #0e3f64 2px;
}
#nts #my_app .badge {
    margin: 14px 15px 0px 0px;
    background-color: #0e3f64 !important;
}
#nts .panel-default>.panel-heading+.panel-collapse .panel-body {
	border-top:none;
}
#nts hr {
	border-top:none;
}
#nts .panel-default>.panel-heading+.panel-collapse .panel-body {
	margin:0 12px;
}
#nts .panel-success>.panel-heading, #nts .collapse-panel.panel .panel-default {
    color: #0e3f64;
	display: inline-block;
    background-color: #e1e1e1;
    border-radius: 0px !important;
	margin:2px 0;
}
#my_app span.xs-block {
    margin: 0 15px;
	color:#0e3f64;
}
#my_app span.xs-block:first-of-type {
    font-weight: bold;
    color: #303030;
    border-right: dotted 2px #303030;
    padding-right: 10px;
}
#nts .nts-ajax-container h3 {
    font-size: 1.5em;
    margin: 35px 0 10px;
    color:#0e3f64;
    font-weight: bold;
    font-family: 'Delius', cursive;
}
#nts #my_app a.nts-no-ajax {
    background: #0e3f64;
    padding: 6px 8px;
    border: solid #0e3f64 2px;
	color:white;
    text-decoration: none;
}
#nts #my_app  a.nts-no-ajax:hover {
    background:white;
	color:#0e3f64;
}
#nts #my_app .list-unstyled {
    max-width: 800px;
    margin: 0 auto;
}
#my_app .balance-b span.xs-block:first-of-type {
	border-right:none;
	padding-right:0;
}
#my_app .balance-b {
    width: 300px;
    margin: 15px auto 0;
}
/*My Recordings*/
#nts #my_rec li {
    margin: 20px 0px;
    color:#303030;
}
#nts #my_rec li i {
    color:#276405;
}
#nts #my_rec li a {
    color: #303030;
	transform:ease-in-out all .2s;
}
#nts #my_rec li a:hover {
    color:#276405;
}
/* # Site Footer
---------------------------------------------------------------------------------------------------- */

#nts .site-footer {
	background-color: #0e3f64;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	color:white;
	padding: 60px 0;
}
#nts .site-footer p {
	margin-bottom: 0;
	font-size:16px;
	line-height: 1.5em;
}
#nts .site-footer a {
	color:white;
}
#nts .footer-info {
    text-transform: uppercase;
    padding: 20px 200px 20px 0px;
    line-height: 1.3em;
    text-align: right;
	margin-top:20px;
    background: url(images/avichai_logo.jpg) no-repeat right;
}
#nts .logo-footer h3 {
    text-transform: uppercase;
	color:white;
}
#nts .logo-footer ul li {
    margin: 10px 0;
    font-weight: 100;
	font-size:16px;
}
#nts .logo-footer ul li a {
    text-decoration:none;
}
#nts .logo-footer ul li a:hover {
    border-bottom:solid 1px white;
}
/*Profile Forms
-------------------------------------------------------------------------*/
#nts .wrap.inner_pages {
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
}

.inner-form #nts .form-control {
	width:100%;
}
/*.inner-form #nts form {
    max-width: 60%;
    margin: 0 auto;
}*/
#nts .form-group {
	clear:both;
}
.inner-form #nts .form-group.f-half1, .inner-form #nts .form-group.f-half2 {
	width:48%;
	clear:none;
}

.inner-form .f-half1 {
	float:left;
}
.inner-form .f-half2 {
	float:right;
}
.inner-form #nts .form-horizontal .control-label {
    float: none;
    text-align: left;
}
.inner-form #nts .form-horizontal .control-holder {
    margin-left: 0;
}
.inner-form #nts .form-horizontal .form-group:first-of-type .control-label {
    float: left;
    display: inline;
    width: auto;
    margin: 5px 10px 0px 0px;
}
.inner-form #nts  .site-inner h3 {
    color: #276405;
    font-family: 'Delius', cursive;
    font-size: 25px;
    border-bottom: dashed 2px;
    padding-bottom: 10px;
    text-align: left;
    margin: 50px auto 20px;
}
/*Media Queries
-------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1340px) {

}


@media only screen and (max-width: 1250px) {

	}
@media only screen and (max-width: 1180px) {

}

@media only screen and (max-width: 1085px) {
#nts .hidden-xs,
	#nts tr.hidden-xs,
	#nts th.hidden-xs,
	#nts td.hidden-xs {
		display: none !important;
	}
	#nts .nav {
    padding: 15px 10px 0px 0px;
	}

}
@media only screen and (max-width: 990px) {
	#nts #points {
		clear:both;
	}
	#profile_info .col-md-4 {
    margin-bottom: 50px;
	}
	.balance-b {
		display:block;
		margin-top:15px;
	}
	#nts #balance_main button:first-of-type {
    margin-left: 0;
	}
	#nts #balance_main .panel-title {
    padding: 0 0px 0 15px;
	}

}
@media only screen and (max-width: 860px) {


}
@media only screen and (max-width: 768px) {
	#profile_info  ul {
		border-left:none;
		padding-left:0;
		min-height:0;
	}
	#profile_info .gutter {
    margin: 40px auto;
    padding-bottom: 10px;
    border-bottom:  #6d2161 dashed 2px;
	}
	#nts .hc_cal {
		max-width:none;
	}
	#my_app span.xs-block {
    margin: 0;
	}
	#my_app .balance-b {
    width: 179px;
	}
	.balance-b .xs-block a.btn.btn-default {
    margin-top: 15px;
	}
	#my_app .xs-block:first-of-type {
    border-bottom: dotted 2px #303030;
	border-right:none !important;
	}
	#my_app .balance-b .xs-block:first-of-type {
    border-bottom: none;
	}
	#nts .logo-footer ul {
    width: 200px;
    margin: 0 auto;
	}
	.logo-footer.first {
    text-align: center;
	}
	#nts .footer-info {
    padding: 7px 0px 0px 180px;
    text-align: left;
    margin: 20px auto 0;
    width: 460px;
    background: url(images/avichai_logo.jpg) no-repeat left;
	}
}
@media only screen and (max-width: 702px) {
	h1#logo_title {
    font-size: 20px;
    max-width: none;
	}
	#nts h1#page_header {
		margin-top:-10px;
	}
	#nts .nav {
    padding: 0px 10px 0px 0px;
    float: left;
	}
}
@media only screen and (max-width: 550px) {
	#my_file p {
    min-height: 0;
    margin-bottom: 2px;
	}
	#nts #my_file .col-md-3 .wrap a h4 {
    margin: 0;
	}
	#my_file .wrap a i.fa-fw.fa.fa-file-text-o {
    font-size: 20px;
    float: left;
    margin: 5px 15px 10px 0;
    padding: 5px 0;
	}
	#nts .tab-content #my_file div .wrap {
		padding-top:0;
	}
	#nts #my_file .col-md-3 .wrap {
    text-align: left;
    width: auto;
    height: auto;
	}
	#nts #new_app .list-inline>li {
		display:block;
		margin:5px 0;
	}
	#nts #new_app .btn.btn-blue {
		width:100%;
	}
	#nts  #new_app .dropdown-menu {
		left:-50px;
	}
	#nts .footer-info {
    padding: 80px 0 0 0;
    text-align: center;
    width: auto;
    background: url(images/avichai_logo.jpg) no-repeat top center;
	}
	.inner-form #nts .form-group.f-half1, .inner-form #nts .form-group.f-half2 {
		width:100%;
	}
}
@media only screen and (max-width: 460px) {
	#nts .nav-pills#three-tabs>li a {
		min-height:80px;
	}
	#my_app form {
		width: 252px;
	}
	#my_app input[type="submit"] {
		display: block;
		margin: 5px 0;
		width: 252px;
	}
	#my_app button#drp_autogen0 {
		text-align:center;
		width:252px;
	}
	#nts #balance_main h2 {
		display:block;
	}
	#nts button.white-b {
		margin:5px 0;
		width:100%;
	}
	#nts #balance_main button {
		margin-left:0;
	}
}
@media only screen and (max-width: 350px) {
	#nts .nav>li>a {
		padding:10px 5px;
	}
}