body {
	padding-top: 70px;
	padding-bottom: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* work-around Chrome bug #242101 */
	html,body {
		height: 100%;
		overflow: auto
	}
	/* side-effects: breaks Scrollspy, FM covers scrollbar */
}

.tgt {
	padding-top: 70px;
	color: inherit;
}

.tgt:hover {
	color: inherit;
	text-decoration: none;
}

.ui-widget,.ui-widget *,.ui-widget *:before,.ui-widget *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

a:focus {
	outline: 0;
}

.btn {
	padding: 4px 12px;
}

@media screen and (min-width: 768px) {
	.jumbotron {
		padding: 30px;
	}
	.jumbotron h1 {
		font-size: 36px;
	}
}

@media screen and (min-width: 992px) {
	.jumbotron h1 {
		font-size: 60px;
		letter-spacing: -1px;
	}
}

.jumbotron p {
	font-size: 18px;
}

.list-inline iframe {
	vertical-align: middle;
}

.btn,.list-inline iframe {
	margin: 5px 0;
}

.ui-widget {
	font-size: 14px;
}

ol.linenums {
	padding: 0;
}

article+article {
	border-top: 1px solid #eee;
}

article {
	margin-bottom: 10px;
}

input.raw {
	width: 255px;
	padding: 4px 6px;
}
.navbar-fixed-top {
	z-index: 100;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}