/* Fonts
----------------------------------------------------------------------------------------------------
font-family: 'Raleway', sans-serif;
font-family: 'Arima Madurai', cursive;
*/

/*Colors Library
----------------------------------------------------------------------------------------------------
Purple: #6d2161
Blue: #0e3f64
Green: #276405
Gray: #303030

*/

/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v4.1.1 | MIT License | http://necolas.github.io/normalize.css/ */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:0.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


/* ## Float Clearing
--------------------------------------------- */

.clearfix:before,
.footer-widgets:before,
.nav-primary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.clearfix:after,
.nav-primary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 2rem;
}

body {
	color:#303030;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

a {
	color: #276405;
	text-decoration: underline;
}

a:hover,
a:focus {
	color: #333;
	text-decoration: none;
}

p {
	margin: 0 0 28px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
	font-family: 'Delius', cursive;
	color:#0e3f64;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;

}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

figure {
	margin: 0;
}

/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
background-color: #fff;
    border: 3px solid #0e3f64;
    color: #333;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 10px 15px;
    width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #333;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #333;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 16px 24px;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus  {
	background-color: #c3251d;
	color: #fff;
}

.entry-content .button:hover,
.entry-content .button:focus {
	color: #fff;
}

.button {
	display: inline-block;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
	padding: 8px 16px;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: #eee;
	border-width: 0;
	color: #777;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-word;
}

tbody {
	border-bottom: 1px solid #eee;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #eee;
	padding: 6px;
}

th {
	font-weight: 400;
	padding: 0 6px;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
{
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 1280px;
}

.site-inner {
	clear: both;
	word-wrap: break-word;
}

.landing-page .site-inner {
	max-width: 800px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 1060px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	max-height:75px;
}

.site-header > .wrap {
	padding:0;
max-width:100%;
	margin:0;
}
.container-fluid {
	padding-left:0;
}
.navbar>.container-fluid .navbar-brand {
	margin:0;
	padding:0;
}
/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	margin-left:0;
	max-height:75px;
}

.header-image .title-area {
	margin: 0 auto;
	max-width: 300px;
	padding: 0;
}

.header-full-width .title-area {
	float: none;
	width: 100%;
}

.site-title {
	font-size: 30px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: #333;
	text-decoration: none;
}

.header-image .site-title > a {
	background-position: center !important;
	background-size: contain !important;
	float: left;
	min-height: 80px;
	width: 100%;
}
.logo img {
    float: left;
    margin-right: 10px;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

#site-title {
    font-size: 24px;
    margin-top:10px;
    float: left;
    max-width: 150px;
    color:#6d2161;
    display: inline;
}
/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
nav.navbar.navbar-fixed-top.nav-primary {
    background: white;
	padding-bottom:5px;
}
.navbar-nav>li>a {
	padding:0;
}
.navbar-nav>li>a:hover {
	background:none;
}
header ul li {
	float:left;
	margin:10px 10px 5px 10px;
	font-size:18px;
}
header ul li a {
	text-decoration:none;
	font-size:18px;
}
#menu-main.navbar-nav {
	margin-left:10%;
}
#menu-main li {
	line-height:1.2;
	margin-top:18px;
}
#right_menu  {
	padding-top:27px;
}
#right_menu li a {
    color:#6d2161;
	}
header ul li {
	border-bottom:solid 2px white;
	padding-bottom:5px;
	transition:ease-in-out all .2s;
}
header ul li:hover {
	border-color:#6d2161;
	padding-bottom:1px;
}
.navbar-toggle .icon-bar {
	background:#6d2161;
}
.navbar-toggle:hover, .navbar-toggle:focus {
	background:none;
}

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #0e3f64;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	color:white;
	padding: 60px 0;
}
.site-footer p {
	margin-bottom: 0;
}
.site-footer a {
	color:white;
}
.footer-info {
    text-transform: uppercase;
    padding: 20px 200px 20px 0px;
    line-height: 1.3em;
    text-align: right;
	margin-top:20px;
    background: url(images/avichai_logo.jpg) no-repeat right;
}
.logo-footer h3 {
    text-transform: uppercase;
}
.logo-footer ul li {
    margin: 10px 0;
    font-weight: 100;
}
.logo-footer ul li a {
    text-decoration:none;
}
.logo-footer ul li a:hover {
    border-bottom:solid 1px white;
}

/*Sitewide page styles
----------------------------------------------------------------------------------------------------*/
input.links, a.links {
	padding:10px 15px 6px;
	color:white;
	text-decoration:none;
	background:#276405;
	font-weight:700;
	font-family: 'Delius', cursive;
	text-transform:uppercase;
}
.links i {
	padding-left:10px;
	transition:all ease-in-out .2s;
}
.links:hover i {
	padding-left:15px;
}
/*Divider color bar*/
.color-bar {
    clear: both;
}
.color-block {
    display: block;
    float: left;
    height: 10px;
    width: 20%;
    background: #6d2161;
}

#color-block-3 {
	background:#0e3f64;
}
#color-block-1, #color-block-2 {
	background:#276405;
}
/*title style*/	
.section_title {
	text-transform:uppercase;
	margin-bottom:50px;
}
.p_start {
	font-family: 'Delius', cursive;
	text-transform:uppercase;
	font-size:22px;
	font-style:normal;
	font-weight:bold;
}
#page_header {
        background: url(images/bkgd.jpg) repeat;
    padding: 1em;
    margin: 77px auto 0;
    text-align: center;
    font-family: 'Delius', cursive;
    color: #0e3f64;
}

.wrap {
	padding:0 5%;
}
.page_intro {
	font-family:'Delius', cursive;
	text-align:justify;
	clear: both;
	color:#276405;
}
.page_intro p {
	    margin-top: 30px;
    padding: 50px 0px 50px 320px;
    background: url(images/tutor_image.jpg) no-repeat left center;
}
.inner_content .wrap .color-bar {
    margin: 0 0 100px 0;
}
.content-sidebar-wrap p {
	color:#6d2161;
	text-align:justify;
}
.inner_content .section_title {
	margin:50px 0 10px 0;
	transition:ease-in-out .2s all;
}
.inner_content .first {
	margin:0px 0 10px 0;
}
.inner_content .section_title:hover {
	margin-left:5px;
}

	
/*Individual page styles
----------------------------------------------------------------------------------------------------*/

/*Home
------------------------------------------------------------------------------*/
/*General*/
.home .content-sidebar-wrap {
	margin-top:0;
}
.home .wrap {
	padding:0;
}
/*Login Modal-------------------------------*/
.modal-content {
	max-width:320px;
	margin:0 auto;
}
.modal-title {
    font-family: 'Delius', cursive;
    color: purple;
    text-align: center;
}
.form-control {
    border: 1px solid;
    border-radius: 0;
}
label {
	font-weight:100;
}
button:hover, input:hover[type="button"], input:hover[type="reset"], input:hover[type="submit"], .button:hover, button:focus, input:focus[type="button"], input:focus[type="reset"], input:focus[type="submit"], .button:focus {
	background:rgba(39,100,5, .9);
}
#right_menu a:visited, #right_menu li a:visited  {
	background:white !important;
	border-color:white !important;
}

.modal input.links {
    width: 80%;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.checkbox label {
    font-size: 16px;
}
#nts_form_l7xvozremember {
    margin-top: 5px;
}
.control-holder p.form-control-static {
    text-align: center;
}
p.form-control-static a {
    text-decoration: none;
    font-size: 16px;
}
.control-holder p.form-control-static {
    text-align: left;
    padding: 0px 15px;
    line-height: 1em;
 }
/*Hero seciton------------------------------*/
#hero-slider .wrap {
    max-width: 630px;
    margin: 25px auto 0 auto;
}
#hero-slider {
    background: url(images/bkgd.jpg);
    height: 595px;
    margin-top: 60px;
    padding: 120px 0;
}
#hero-slider h1 {
   font-size: 44px;
    font-weight: bolder;
    color: #6d2161;
    font-family: 'Delius', cursive;
}
#hero-slider h3 {
    color: #276405;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;
	margin-bottom:2px;
}
#tagline p {
        color:  #276405;
    font-weight: 100;
    font-size: 18px;
	font-family:'Delius', cursive;
}
#tagline p em {
    font-style: normal;
    font-weight: 800;
    font-size: 21.4px;
}
#hero-slider form {
    max-width: 430px;
	margin:0 auto;
}
#hero-slider input[type="text"] {
    width: 70%;
	float:left;
}
#hero-slider input.links {
    background: url(images/hero_arrow.jpg) no-repeat 90% center #0e3f64;
    font-size: 18px;
    width: 28%;
    padding: 15px 10px 18px;
    height: 55px;
    text-align: left;
    float: right;
}
#down-arrow {
	text-decoration:none;
}
#down-arrow img {
    color: white;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.hero-container {
    max-width: 1400px;
    margin: 0 auto;
}
/*#slides {
position:relative;
}*/
.slidesjs-control {
    width: 50% !important;
    float: right;
}
.slidesjs-navigation, .slidesjs-pagination, a.slidesjs-stop.slidesjs-navigation {
    display: none !important;
}

#carousel-example-generic {
    margin: -80px auto 0 auto;
}
#hero-slider .carousel-inner {
    max-height: 540.81px;
    max-width: 657.2px;
}
#hero-slider .container {
	margin:0;
	padding:0;
	background:url(images/bkgd.jpg);
	width:100%;
}
#hero-slider .container .row {
	margin-right:0;
	margin-left:0;
	width:100%;
}
.carousel-indicators {
    display: none;
}
.carousel-fade .carousel-inner .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
		
        }
		.active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
/*how it works section------------------------*/
.works {
    margin-bottom: 170px;
	padding: 5em 0;
}
.works p, .tutors p {
	color:#6d2161;
}

/*Ease of use section-------------------------*/
.ease {
	background:url(images/bkgd.jpg) repeat;
}
.ease .one-third {
	margin-top:-130px;
}
.ease p {
    margin: 4em auto;
    text-align: justify;
    max-width: 350px;
}
#auto .p_start {
	color:#6d2161;
}
#at_home .p_start {
	color:#0e3f64;
}
#affordable .p_start {
	color:#276405;
}
/*Flippig card effect-----------------------*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	margin:0 auto;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 245px;
	height: 245px;
	border-radius:200px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.flipper h4 {
    text-align: center;
    margin: 80px 0px 0px;
	color:white;
	font-weight:normal;
}
.flipper i {
	font-size:30px;
	margin-bottom:10px;
}
#auto .front {
	background: url(images/auto.jpg);
    border: solid 5px #6d2161;
}
#at_home .front {
	background: url(images/athome.jpg);
    border: solid 5px #0e3f64;
}
#affordable .front {
	background: url(images/affordable.jpg);
    border: solid 5px #276405;
}
#auto .back {
	background:#6d2161;
    border: solid 5px #6d2161;
}
#at_home .back {
	background: #0e3f64;
    border: solid 5px #0e3f64;
}
#affordable .back {
	background:#276405;
}
/*Tutors section--------------------------------------*/
.tutors {
	clear:both;
	margin:4em;;
	padding:50px 400px 50px 0;
    background: url(images/tutor_image.jpg) no-repeat right center;
}
/*About Page
-----------------------------------------------------------------------------------*/
.about .page_intro p {
	background-image: url(images/about1.jpg);
}
.list_n {
    display: inline;
    font-size: 60px;
    padding: 0px 17px;
    margin-right: -32px;
    border: dashed 2px rgba(109,33,97,.4);
    background: white !important;
    border-radius: 500px;
    line-height: .4;
    color: rgba(109,33,97,.4);
}
#about_list ul {
	color:#6d2161;
	margin-top:50px;
}
#about_list ul li {
 float: left;
    margin: 20px 10px;
    width: 48%;
    min-height: 130px;
}
.about .inner_content {
	margin-bottom:0;
}
.inner_content .wrap.image-line .color-bar{
	margin-bottom:0;
}
/*Contact Page
-----------------------------------------------------------------------------------*/
#intro-wrapper {
    margin:0 auto;
    padding: 50px 0px 50px 220px;
    background: url(images/contact.jpg) no-repeat left center;
	max-width:860px;
}
#intro-wrapper ul li {
	color:#0e3f64;
}
#intro-wrapper ul li a {
	text-decoration:none;
	color:#0e3f64;
}
#intro-wrapper ul li a:hover {
	text-decoration:underline;
}
/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen  and (min-width : 1450px) {
.main-text {
    left: 20%;
}
}
@media only screen and (max-width: 1366px) {
#hero-slider .one-half {
    margin-left: 0;
}
#hero-slider .wrap {
	float:right;
}
}
@media only screen and (max-width: 1280px) {
	#hero-slider .wrap {
		margin:25px auto 0 15px;
	}
	#hero-slider h1 {
		font-size: 42px;
	}
	#hero-slider h3 {
		font-size:27px;
	}
	#tagline p em {
		font-size:21px;
	}

	}
@media only screen and (max-width: 1245px) {
#hero-slider .one-half {
	width:100%;
	float:none;
	clear:both;
}
#hero-slider .wrap {
    background: rgba(244,244,244,.8);
    box-shadow: 0px 0px 5px #303030;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
	float:none;
}
#hero-slider .carousel {
	display:none;
}
#hero-slider {
    background: url(images/hi_mobile.jpg) bottom center;
    height: 550px;
}
}
@media only screen and (max-width: 1023px) {

	/*.wrap {
		max-width: 800px;
	}*/

	.content,
	.title-area {
		width: 100%;
	}

	.site-header .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.nav-primary li,
	.header-image .title-area,
	.site-header .nav-primary {
		float: none;
	}
 .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	  max-height:340px;
  }
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
margin:0;
}
.logo img {
	max-height:75px;
}
nav.navbar.navbar-fixed-top.nav-primary {
	padding-bottom:24px;
}
.navbar-toggle {
	padding:19px 10px 0px 0px;
	margin-bottom:5px;
}
#menu-main.navbar-nav {
	margin:20px 0px 0px 0px;
}
header ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-bottom: 5px;
}
header ul li:hover, header ul li:focus {
	border-bottom:1px black solid;
	padding-bottom:5px;
}
#right_menu {
    padding-top: 0;
    margin: 0;
}
#right_menu li:last-of-type {
    padding-top: 7px;
	margin-bottom:25px;
}
.navbar-nav>li>a {
	line-height:15px;
}
#menu-main li {
    margin-top: 12px;
}
#menu-main li i {
	padding-right:10px;
}
#menu-main br {
    display: none;
}

.logo-footer.first {
    margin-top: 20px;
}
}
@media only screen and (max-width: 860px) {

	body > div {
		font-size: 1.8rem;
	}

	body {
		font-size: 18px;
		font-size: 1.8rem;
	}

	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
#hero-slider {
    background: url(images/hero-image3.jpg) bottom center;
}
.works {
    margin-bottom: 0;
}
.ease {
	padding:50px 0;
}
.home .wrap {
    padding-right: 5%;
    padding-left: 5%;
}
.ease .one-third {
	margin-top:0;
}
.flip-container {
    margin: 0 10px 0 0px;
    clear: both;
    float: left;
}
.ease p {
	max-width:100%;
}
.logo-footer ul {
    width: 200px;
    margin: 0 auto;
	}
.logo-footer.first {
    text-align: center;
	margin-top:0;
	margin-bottom:25px;
	}
.footer-info {
    padding: 7px 0px 0px 180px;
    text-align: left;
    margin: 20px auto 0;
float:none;
clear:both;
    width: 460px;
    background: url(images/avichai_logo.jpg) no-repeat left;
	}

}
@media only screen and (max-width: 750px) {
nav.navbar.navbar-fixed-top.nav-primary {
	padding-bottom:0;
}
.navbar-toggle {
    padding: 10px 0px 0px 0px;
}
.logo img {
    max-height: 51px;
}
#site-title {
    font-size: 20px;
    margin-top: 15px;
	max-width:100%;
}
#site-title br {
	display:none;
}
#hero-slider h1 {
    font-size: 30px;
}
#hero-slider h3 {
    font-size: 18px;
}
#tagline p {
	font-size:15px;
	margin-bottom:5px;
}
#tagline p em {
    font-size: 15px;
}
input, select, textarea {
    font-size: 15px;
    padding: 5px 10px;
}
#hero-slider input.links {
    font-size: 15px;
    padding: 10px 10px 18px;
    height: 40px;
}
#hero-slider .wrap {
    max-width: 450px;
}
#hero-slider {
    background: url(images/hero-image3.jpg) center center;
	height:350px;
}
#hero-slider .one-half {
	margin-top:-60px;
}
.tutors {
    margin: 4em 5%;
    padding: 0px 200px 0px 0;
    background-size: 200px;
}
#page_header {
	margin:47px auto 0;
}
.page_intro p {
    padding: 50px 0px 50px 220px;
    background-size: 200px;
}
}
@media only screen and (max-width: 680px) {
body > div {
    font-size: 1.6rem;
}
h2 {
	font-size:2.5rem;
}
.p_start {
	font-size:18px;
}
.flip-container {
	display:none;
}
.ease p {
    margin: 1em auto;
}

}
@media only screen and (max-width: 550px) {
	.footer-info {
    padding: 80px 0 0 0;
    text-align: center;
    width: auto;
    background: url(images/avichai_logo.jpg) no-repeat top center;
	}
	.page_intro p {
    padding:20px 0px 220px 0px;
    background-position:bottom center;
	margin-bottom:20px;
	}
	#about_list ul li {
		margin: 20px 0px;
		width: 100%;
		min-height: 0px;
	}
}
@media only screen and (max-width: 480px) {
#hero-slider {
    background: url(images/bkgd.jpg);
    height: auto;
    padding: 80px 0 50px;
    margin: 0;
}
#hero-slider .one-half {
    width: 100%;
    float: none;
    clear: both;
    margin-top: 0;
}
#hero-slider .wrap {
    background: none;
    box-shadow: none;
}
#hero-slider input.links {
    padding: 5px 10px 16px;
    height: 34px;
	text-align: center;
    background-position: 65% center;
    width: 100%;
}
#hero-slider input[type="text"] {
    width: 100%;
    text-align: center;
}
#hero-slider h1 {
    font-size: 21.5px;
	margin-bottom:5px;
}
#tagline p {
    line-height: 1.5em;
}
.tutors {
    margin: 4em 5%;
    padding: 170px 0 0 0;
    background-size: 150px;
	background-position:top left;
}
.section_title {
	margin-bottom:20px;
}
}
/* # Print Styles
---------------------------------------------------------------------------------------------------- */

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	.site-title > a:after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
		top: -100px;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}
